.icon {
  display: inline-block;
  vertical-align: middle;
  filter: invert(0.2);
}

.icon.primary {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(10000%) hue-rotate(200deg);
}

.icon.white {
  filter: brightness(0) invert(1);
}

.icon.success {
  filter: brightness(0) saturate(100%) invert(63%) sepia(79%) saturate(442%) hue-rotate(86deg) brightness(106%) contrast(105%);
}

.icon.warning {
  filter: brightness(0) saturate(100%) invert(73%) sepia(71%) saturate(2046%) hue-rotate(1deg) brightness(104%) contrast(103%);
}

.icon.error {
  filter: brightness(0) saturate(100%) invert(31%) sepia(94%) saturate(1331%) hue-rotate(345deg) brightness(106%) contrast(106%);
}
